.page-container {
    overflow: auto;
    padding-bottom: 2rem;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.input-group > .btn {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.tr-no-border {
    border: 0px !important;
}

.toolbar {
    float: right;
}

.form-check-input {
    border-color: #929292;
}

    .form-check-input[type="checkbox"]:indeterminate {
        background-color: #057FE5;
        border-color: #057FE5;
    }

.overlay-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.dropdown-menu-list {
    --bs-dropdown-border-radius: 0rem !important;
    font-size: 12px !important;
    width: 100% !important;
}

.dropdown-menu-list-word-detect {
    --bs-dropdown-border-radius: 0rem !important;
    font-size: 12px !important;
    width: 100% !important;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-item-word-detect {
    height: 27px;
}

.ai-image {
    cursor: pointer;
    margin: 0;
}

#ai-unavailable-modal .modal-dialog {
    max-width: 50vw;
}
