<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net461" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net461" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net461" />
  <package id="itextsharp.xmlworker" version="5.5.13.3" targetFramework="net461" />
  <package id="jQuery" version="1.10.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Modernizr" version="2.6.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.16.0" targetFramework="net461" />
  <package id="ThoughtWorks.QRCode" version="1.1.0" targetFramework="net461" />
</packages>