.bell-mt {
    font-family: "Bell MT" !important;
}

.bg-datatable-tr {
    background-color: #FCFCFC;
}

.bg-light-grey {
    background-color: #EBEBEB;
}

.bg-grey {
    background-color: #F0F0F0;
}

.vivid-red {
    color: #FF3366 !important;
}

.dark-blue {
    color: #004098 !important;
}

.green {
    color: #00A251 !important;
}

.orange {
    color: #FF850A !important;
}

.red {
    color: #B1003C !important;
}
    
.white {
    color: #FFFFFF;
}

.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-50 {
    width: 50% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 10% !important;
}

.hidden {
    display: none;
}

.overflow-y-auto {
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-is-invalid {
    border-color: #DA292E !important;
}