#navbar_horizontal ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

#navbar_horizontal li {
    display: flex;
    align-items: center;
    float: left;
}

    #navbar_horizontal li a {
        display: flex;
        align-items: center;
        color: black;
        text-align: center;
        text-decoration: none;
    }

#navbar_horizontal_left li a {
    padding: 30px;
}

#navbar_horizontal_right li a {
    padding: 16px;
}

#navbar_horizontal li a:hover {
    background: #EBF3FE;
    color: #004098;
    font-weight: bold;
    cursor: pointer;
}

#sidebarcontent {
    background-color: white;
    min-width: 250px;
    position: absolute;
    z-index: 999;
    list-style-type: none;
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

#sidebarlayer2content {
    background-color: white;
    min-width: 250px;
    position: absolute;
    z-index: 999;
    list-style-type: none;
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

#sidebarcontent, #sidebarlayer2content {
    display: none;
}

    #sidebarcontent a:hover {
        background: #EBF3FE;
        color: #004098;
        font-weight: bold;
    }

.header-text {
    padding: 0px 10px 0px 20px;
}

.nav-header {
    height: 56px;
    align-items: center;
    display: flex;
}

.sidebar-text {
    font-size: 16px;
}

.nav-link:hover {
    color: #004098;
    font-weight: bold;
}

@media (min-width: 768px) {
    .toast-success {
        bottom: 25px;
        right: 20px !important;
    }

    .toast-alert {
        top: 20% !important;
        right: 35% !important;
    }

    .multiselect-search {
        height: 31px;
    }
}

@media (min-width: 1367px) {
    .toast-success {
        bottom: 30px;
        right: 20px !important;
    }

    .toast-alert {
        top: 18% !important;
        right: 40% !important;
    }

    .multiselect-search {
        height: 42px;
    }
}

@media (max-width: 1200px) {
    #navbar_horizontal_right {
        display: none !important;
    }
}

@media only screen and (max-device-height: 799px) {
    #navbar_horizontal, #navbar_horizontal li, #navbar_horizontal a {
        height: 55px;
    }

    #sidebarcontent, #sidebarlayer2content, .arrow_box {
        top: 110px;
    }

    .page-container {
        padding-bottom: 55px !important;
    }

    .tr-navbar {
        min-height: 55px;
    }

    .menu-text {
        font-size: 16px;
    }

    .nav-icon {
        font-size: 18px !important;
    }

    .arrow_box {
        right: 50px;
    }

    .red-circle {
        width: 22px;
        height: 22px;
    }

        .red-circle > text {
            font-size: 12px;
        }
}

@media only screen and (max-device-width: 1280px) and (min-device-height: 800px) {
    #navbar_horizontal, #navbar_horizontal li, #navbar_horizontal a {
        height: 55px;
    }

    #sidebarcontent, #sidebarlayer2content, .arrow_box {
        top: 110px;
    }

    .page-container {
        padding-bottom: 55px !important;
    }

    .tr-navbar {
        min-height: 55px;
    }

    .menu-text {
        font-size: 16px;
    }

    .nav-icon {
        font-size: 18px !important;
    }

    .arrow_box {
        right: 50px;
    }

    .red-circle {
        width: 22px;
        height: 22px;
    }

        .red-circle > text {
            font-size: 12px;
        }
}

@media only screen and (min-device-width: 1281px) and (max-device-width: 1919px) and (min-device-height: 800px) {
    #navbar_horizontal, #navbar_horizontal li, #navbar_horizontal a {
        height: 55px;
    }

    #sidebarcontent, #sidebarlayer2content, .arrow_box {
        top: 110px;
    }

    .page-container {
        padding-bottom: 55px !important;
    }

    .tr-navbar {
        min-height: 55px;
    }

    .menu-text {
        font-size: 16px;
    }

    .nav-icon {
        font-size: 20px !important;
    }

    .arrow_box {
        right: 52px;
    }

    .red-circle {
        width: 22px;
        height: 22px;
    }

        .red-circle > text {
            font-size: 12px;
        }
}

@media only screen and (min-device-width: 1920px) and (min-device-height: 800px) {
    #navbar_horizontal, #navbar_horizontal li, #navbar_horizontal a {
        height: 70px;
    }

    #sidebarcontent, #sidebarlayer2content, .arrow_box {
        top: 140px;
    }

    .page-container {
        padding-bottom: 70px !important;
    }

    .tr-navbar {
        min-height: 70px;
    }

    .menu-text {
        font-size: 20px;
    }

    .nav-icon {
        font-size: 24px !important;
    }

    .arrow_box {
        right: 67px;
    }

    .red-circle {
        width: 30px;
        height: 30px;
    }

        .red-circle > text {
            font-size: 14px;
        }
}
