.dropdown-menu-list {
    width: 204px !important;
    --bs-dropdown-border-radius: 0rem !important;
    font-size: 12px !important;
}

.dropdown-menu-list-word-detect {
    width: 204px !important;
    --bs-dropdown-border-radius: 0rem !important;
    font-size: 12px !important;
}

.dropdown-item-word-detect {
    height: 27px;
}

a.no-redirect {
    cursor: default;
    --bs-dropdown-link-hover-bg: white;
}

.ai-image {
    padding: 0px 10px;
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    font-size: 18px;
    box-shadow: none;
    border: none;
    font-size: 18px !important;
    animation: glow 2s ease-in-out infinite;
}

    .ai-image i {
        color: rgba(255, 255, 255, 0.01);
        background-size: 25px;
        -webkit-background-size: 25px;
        background-clip: text;
        -webkit-background-clip: text;
        font-size: 20px;
        padding-right: 3px;
    }

.input-group-text-word-detection {
    color: rgba(255, 255, 255, 0.01);
    background: linear-gradient(to right, #D054A8 25%, #856FEE 75%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.ai-outage {
    width: 150px;
    height: 100px;
}


.text-glow {
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 0px rgba(208, 84, 168,0.3);
    }

    50% {
        text-shadow: 0 0 10px rgba(208, 84, 168,0.8);
    }

    100% {
        text-shadow: 0 0 0px rgba(208, 84, 168,0.3);
    }
}
