body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*newly added rfidaudit styles*/

.rfid-input-section {
    display: flex;
}

    .rfid-input-section > .title {
        flex: 1;
    }

    .rfid-input-section > .input {
        flex: 11;
    }

        .rfid-input-section > .input > .input-size {
            width: 90%;
        }

.bold {
    font-weight: 900;
}

.required {
    color: red;
}

.button-section {
    padding: 20px 0;
}

.rfid-button {
    padding: 10px;
    margin-right: 20px;
    color: white;
    border: none;
    border-radius: 5px;
}

    .rfid-button:nth-child(1) {
        background-color: rgb(92,184,92);
    }

    .rfid-button:nth-child(2) {
        background-color: rgb(240,173,79);
    }

    .rfid-button:nth-child(3) {
        background-color: rgb(219,82,79);
    }

.rfid-tb-header,
.rfid-tb-row,
.rfid-tb-header > th,
.rfid-tb-row > td,
.rfid-tb > caption {
    border: 1px solid white;
}

.rfid-tb {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

    .rfid-tb > caption {
        margin-bottom: -1px;
        color: white;
        background-color: rgb(48,84,150);
        font-size: 1.2em;
    }

.rfid-tb-header > th {
    background-color: rgb(142,169,219)
}

.rfid-tb-row > td {
    background-color: rgb(217,225,242)
}
